<a href="https://colab.research.google.com/github/TerryYamYam/Introduction-to-Computers/blob/main/%E6%9C%9F%E6%9C%AB%E5%AF%A6%E4%BD%9C_%E5%9C%8B%E4%BC%814A_%E4%BB%BB%E5%86%A0%E4%B8%9E_407556165.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
list1 = ["國企4A", 407556165, "任冠丞"]
print(list1)

['國企4A', 407556165, '任冠丞']

In [6]:
print("班級:",list1[0])
print("學號:",list1[1])
print("姓名:",list1[2])

班級: 國企4A
學號: 407556165
姓名: 任冠丞

In [50]:
month = int(input('請輸入月份:'))
date = int(input('請輸入日期:'))
week = input('請輸入今天是星期幾:')
print('今天是:', month , '月,' , date , '號,' , '星期' , week)

請輸入月份:1
請輸入日期:1
請輸入今天是星期幾:二
今天是: 1 月, 1 號, 星期 二

In [37]:
money = int(input("請輸入購物金額:"))
if (money > 10000):
    if (money > 10000):
        print("你購買的總金額為:",money,"元")
        print("您享有八折的折扣! 折扣後的價格為:",money * 0.8,end = "元\n")
    elif (money > 5000):
        print("你購買的總金額為:",money,"元")
        prinnt("您享有八五折的折扣! 折扣後的價格為:",money * 0.85,end = "元\n")
    elif (money > 3000):
        print("你購買的總金額為:",money,"元")
        print("您享有九折的折扣! 折扣後的價格為:",money * 0.9,end = "元\n")
    elif (money > 1000):
        print("你購買的總金額為:",money,"元")
        print("您享有九五折的折扣! 折扣後的價格為:",money * 0.95,end = "元\n")
else:
    print("你購買的總金額為:",money,"元")
    print(money,"元沒達到最低折扣金額! 您需要付款的金額為:",money,end = "元\n")

請輸入購物金額:12000
你購買的總金額為: 12000 元
您享有八折的折扣! 折扣後的價格為: 9600.0元

In [38]:
money = int(input("請輸入購物金額:"))
if (money > 10000):
    if (money > 10000):
        print("你購買的總金額為:",money,"元")
        print("您享有八折的折扣! 折扣後的價格為:",money * 0.8,end = "元\n")
    elif (money > 5000):
        print("你購買的總金額為:",money,"元")
        prinnt("您享有八五折的折扣! 折扣後的價格為:",money * 0.85,end = "元\n")
    elif (money > 3000):
        print("你購買的總金額為:",money,"元")
        print("您享有九折的折扣! 折扣後的價格為:",money * 0.9,end = "元\n")
    elif (money > 1000):
        print("你購買的總金額為:",money,"元")
        print("您享有九五折的折扣! 折扣後的價格為:",money * 0.95,end = "元\n")
else:
    print("你購買的總金額為:",money,"元")
    print(money,"元沒達到最低折扣金額! 您需要付款的金額為:",money,end = "元\n")

請輸入購物金額:500
你購買的總金額為: 500 元
500 元沒達到最低折扣金額! 您需要付款的金額為: 500元

In [39]:
sum = 0
test = int(input("請輸入一個正整數:"))
for n in range (1, test+1, 1):
    sum = sum +n
    print("1到",n,"的整數和為:",sum)

請輸入一個正整數:10
1到 1 的整數和為: 1
1到 2 的整數和為: 3
1到 3 的整數和為: 6
1到 4 的整數和為: 10
1到 5 的整數和為: 15
1到 6 的整數和為: 21
1到 7 的整數和為: 28
1到 8 的整數和為: 36
1到 9 的整數和為: 45
1到 10 的整數和為: 55

In [40]:
for j in range(2,10):
    for i in range(1,10):
        k = i * j
        print(j,"*",i,"=",k, end="\t")
    print()

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [42]:
sum = 0
for i in range(1,101):
    if i % 9 == 0 or i % 13 ==0:
      print(i)

9
13
18
26
27
36
39
45
52
54
63
65
72
78
81
90
91
99

In [43]:
sum = 0
for i in range(1,101):
    if i % 9 == 0 or i % 13 ==0:
        sum += i
print(sum)

958

In [44]:
students = ["Tom","Mary","Tony"]
id = [1,2,3]
scores = [85,79,93]
for i in range(len(id)):
    print("編號:%s 姓名:%s 成績:%s"%(id[i],students[i],scores[i]))

編號:1 姓名:Tom 成績:85
編號:2 姓名:Mary 成績:79
編號:3 姓名:Tony 成績:93

老師雖然都不會直接回答作業相關問題，不過都給出方向性的意見，讓我更能做出答案，非常感謝老師一個學期的教導！